APP_URL="http://localhost:3000"
PORT=3000
NODE_ENV="development"

# database
MONGODB_URI="mongodb://db:27017/cura"

#jwt
ACCESS_TOKEN_SECRET='secret'
REFRESH_TOKEN_SECRET="secret"
ACCESS_EXPIRE_TIME='15m'
REFRESH_EXPIRE_TIME='1d'

#mailtrap
MAILTRAP_USER='user'
MAILTRAP_PASS='password'
SENDER_EMAIL='mail@gmail.com'

#redis
REDIS_HOST=redis
REDIS_PORT=6379
